/* Style sheet created by:Mahesh Bhattarai, 03/16/22  */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}


/* Navigation for unordered list  */


nav ul {	
		padding: 0;
		margin-top: 1%;
		margin-bottom: 1%; 
	}
	
	
nav li {
		list-style-type: none;
		border-radius: 2em;
		background-color: #009933;
		margin: 0.3em;
		padding: 0.4em;
	}
	
nav li a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
img {
		width: 25% ;
		float: left;
	}
	
header p {
	margin-bottom: 4em;
	padding-top: 1.5em;
}


/* Media query for tablet viewport targets screen size with a minimum width of 481px */

@media only screen and (min-width: 481px) {



nav li {
		
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%; 
	padding-left: 0;
	padding-right: 0;
	width: 23%;
	white-space: nowrap;
	}
	
	/* Style specifies horizontal display for navigation links */

	main {
		clear: left;
		margin-top: 12em;
	}
	
	
	.mobile {
	display: none;
	} 
    
	.desktop {
	display: inline; 
	}
	

}


	
/* Style for header */
header {
		margin-top: 0.2em;
		background-color: #FFFFFF;
		border-radius: 0.5em;
		text-align:center;
		padding-top: 1.5em; 
	}
		
	
/* Navigation  */

nav {
		font-family: Georgia, "Times New Roman", serif;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
	}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}



