/* Mahesh Bhattarai 03/04/22	*/
body {
color: #000000;
background-color: #FF9900;
font-family: "Calibri", sans-serif;
}
#outerwrapper {
	width:80%;
	margin: 0
	auto 0;
}
footer{
	font-size:0.75em;
	text-align: center;
}
#main{
	background-color:#C5A98B;
	padding: 10px; 
	clear: both;
}
.floatleft {
	float:left;
	margin-right: 2%;
}
.floatright {
	float:right;
	margin-left: 3%;
}
nav ul {
	list-style-type:none;
}
#main, footer{
	clear:both;
}

.boldtext, dt {
font-weight:bold;
}
